<div class="sidebar sidebar-{{ .Site.Params.sidebarColor}}">
    <div class="navigation">
        {{ partial "logo.html" }}
        <h1 class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>


        <nav class="internal">
            {{ partial "menu.html" . }}
        </nav>

        <nav class="external">
            <div class="external-title">{{ .Site.Params.externalTitle }}</div>
            {{ with .Site.Menus.shortcuts }}
            <ul id="shortcuts">
                {{ range sort . "Weight" }}
                <li>
                    <a href="{{.URL}}" target="_blank" rel="noopener">{{safeHTML .Name}}</a>
                </li>
                {{ end }}
            </ul>
            {{ end }}
        </nav>
    </div>

    <div class="version">
        <a href="{{ .Site.Params.sourceURL }}" target="_blank" rel="noopener">Source code</a><br \>
        generated on {{ now.Format "Jan 2, 2006" }}
    </div>
</div>